<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>JOBCARD</title>
   <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="h-full lg:min-h-screen w-full flex flex-col lg:flex-row">
      <div class="flex px-5 py-4 items-center justify-between lg:rounded-none rounded-b-2xl">
         <!-- Welcome -->
         <div class="text-slate-900 w-full font-bold text-lg">DESY</div>
         <!-- End Welcome -->
         <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
               stroke="currentColor" class="w-8 h-8 text-slate-900 cursor-pointer">
               <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
         </div>
      </div>

      <div class="flex ml-5 mt-3 items-center flex-col lg:hidden">
         <div class="w-full">
            <h1 class="text-sm w-full lg:text-lg font-normal text-zinc-500">Welcome,</h1>
            <h2 class="text-lg w-full lg:text-2xl text-zinc-900 font-semibold tracking-wider">Rangga Wijayanto</h2>
         </div>
      </div>

      <div class="rounded-2xl sm:min-h-full lg:min-h-full w-full bg-zinc-600 mt-5 lg:max-w-screen lg:mx-5">
         <div class="text-slate-100 pl-5 py-5 font-medium text-lg lg:text-3xl lg:mt-10">
            Dashboard
         </div>
         <div class="flex flex-col lg:items-center lg:justify-center lg:mx-auto lg:flex-row gap-5 pb-[150px]">
            <div
               class="relative flex h-32 lg:w-60 lg:h-60 place-items-center justify-between bg-white mx-5 rounded-2xl p-4">
               <div class="flex flex-col">
                  <p class="text-sm font-medium lg:text-base text-zinc-500 capitalize">IDLE</p>
                  <p class="text-zinc-900">
                     <span class="text-lg lg:text-xl lg:font-bold font-semibold text-zinc-900">
                        10
                     </span>
                  </p>
               </div>
               <div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="h-14 w-14 text-rose-600">
                     <path fill-rule="evenodd"
                        d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
                        clip-rule="evenodd" />
                     <path fill-rule="evenodd"
                        d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
                        clip-rule="evenodd" />
                  </svg>
               </div>
            </div>

            <div
               class="relative flex h-32 lg:w-60 lg:h-60 place-items-center justify-between bg-white mx-5 rounded-2xl p-4">
               <div class="flex flex-col">
                  <p class="text-sm font-medium lg:text-base text-zinc-500 capitalize">ON PROGRESS</p>
                  <p class="text-zinc-900">
                     <span class="text-lg lg:text-xl lg:font-bold font-semibold text-zinc-900">
                        10
                     </span>
                  </p>
               </div>
               <div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="h-14 w-14 text-yellow-600">
                     <path fill-rule="evenodd"
                        d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
                        clip-rule="evenodd" />
                     <path fill-rule="evenodd"
                        d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
                        clip-rule="evenodd" />
                  </svg>
               </div>
            </div>

            <div
               class="relative flex h-32 lg:w-60 lg:h-60 place-items-center justify-between bg-white mx-5 rounded-2xl p-4">
               <div class="flex flex-col">
                  <p class="text-sm font-medium lg:text-base text-zinc-500 capitalize">DONE</p>
                  <p class="text-zinc-900">
                     <span class="text-lg lg:text-xl lg:font-bold font-semibold text-zinc-900">
                        10
                     </span>
                  </p>
               </div>
               <div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="h-14 w-14 text-green-600">
                     <path fill-rule="evenodd"
                        d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
                        clip-rule="evenodd" />
                     <path fill-rule="evenodd"
                        d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
                        clip-rule="evenodd" />
                  </svg>
               </div>
            </div>
         </div>
      </div>

      <div class="fixed z-30 bottom-0 inset-x-0 lg:hidden shadow-xl">
         <div
            class="bg-white shadow-2xl rounded-t-2xl grid grid-cols-5 place-items-center mb-0 py-1 border-t border-gray-200">
            <a href=""
               class="rounded-md p-2 transition-all duration-300 ease-in-out text-xs cursor-pointer text-zinc-400 font-normal">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mx-auto">
                  <path
                     d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                  <path
                     d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
               </svg>
               <p class="text-xs mt-1">Home</p>
            </a>
            <a href=""
               class="rounded-md p-2 transition-all duration-300 ease-in-out text-xs cursor-pointer text-zinc-400 font-normal">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mx-auto">
                  <path fill-rule="evenodd"
                     d="M10.5 3A1.501 1.501 0 009 4.5h6A1.5 1.5 0 0013.5 3h-3zm-2.693.178A3 3 0 0110.5 1.5h3a3 3 0 012.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 01-3 3H6.75a3 3 0 01-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15z"
                     clip-rule="evenodd" />
               </svg>
               <p class="text-xs mt-1">Report</p>
            </a>
            <a href=""
               class="rounded-md transition-all duration-300 ease-in-out text-white font-semibold -mt-7 cursor-pointer">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                  stroke="currentColor" class="h-10 w-10 p-1 mx-auto rounded-full ring-4 ring-white bg-zinc-600">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
               </svg>
               <p class="text-xs mt-1 text-zinc-800 font-bold">Create</p>
            </a>
            <a href=""
               class="rounded-md p-2 transition-all duration-300 ease-in-out text-xs cursor-pointer text-zinc-400 font-normal">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mx-auto">
                  <path fill-rule="evenodd"
                     d="M10.5 3A1.501 1.501 0 009 4.5h6A1.5 1.5 0 0013.5 3h-3zm-2.693.178A3 3 0 0110.5 1.5h3a3 3 0 012.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 01-3 3H6.75a3 3 0 01-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15z"
                     clip-rule="evenodd" />
               </svg>
               <p class="text-xs mt-1">Report</p>
            </a>
            <a href=""
               class="rounded-md p-2 transition-all duration-300 ease-in-out text-xs cursor-pointer text-zinc-400 font-normal">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mx-auto">
                  <path fill-rule="evenodd"
                     d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"
                     clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                     d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"
                     clip-rule="evenodd" />
               </svg>
               <p class="text-xs mt-1">Dashboard</p>
            </a>
         </div>
      </div>
   </div>
</body>

</html>